openapi: 3.2.0
info:
  title: Yuens Me Projects API
  version: 1.0.0
  description: 'Operations tagged Projects across 2 of this provider''s published API definitions: yuens-me-resume-agent-openapi.json, yuens-me-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://agent.yuens.me
tags:
- name: Projects
paths:
  /projects:
    get:
      operationId: listProjects
      summary: List portfolio projects
      description: Returns a summary list of all portfolio projects with name, description, tech stack, and status. Use when asked about projects or portfolio work.
      responses:
        '200':
          description: Project list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    slug:
                      type: string
                    description:
                      type: string
                    role:
                      type: string
                    tech:
                      type: array
                      items:
                        type: string
                    status:
                      type: string
                    started:
                      type: string
                    url:
                      type: string
                      format: uri
                    repo:
                      type: string
                      format: uri
                    cover:
                      type: string
                      format: uri
      tags:
      - Projects
    servers:
    - url: https://agent.yuens.me
x-refined-from:
- yuens-me-resume-agent-openapi.json
- yuens-me-openapi.yml
