openapi: 3.2.0
info:
  title: Resume Agent Projects API
  description: Query a candidate's professional profile. Use queryProfile for natural language questions, matchJob to score against a job description, and the GET endpoints for structured profile data.
  version: 1.0.0
servers:
- url: https://agent.yuens.me
tags:
- name: Projects
paths:
  /projects:
    get:
      operationId: listProjects
      summary: List portfolio projects
      description: Returns a summary list of all portfolio projects with name, description, tech stack, and status. Use when asked about projects or portfolio work.
      responses:
        '200':
          description: Project list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    slug:
                      type: string
                    description:
                      type: string
                    role:
                      type: string
                    tech:
                      type: array
                      items:
                        type: string
                    status:
                      type: string
                    started:
                      type: string
                    url:
                      type: string
                      format: uri
                    repo:
                      type: string
                      format: uri
                    cover:
                      type: string
                      format: uri
      tags:
      - Projects
